<div class="container">
  <div class="row">
    <div class="col-sm-12 jumbotron hero">
      &nbsp;
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-4">
      <h2>Gesti칩n de Usuarios y Equipos</h2>
      <p>Gestiona los usuarios en equipos de trabajo, cada equipo puede estar asignado a uno o m치s proyectos</p>
    </div>
    <div class="col-sm-4">
      <h2>Gesti칩n de Proyectos</h2>
      <p>Configura los proyectos y sus requerimientos, define cual es el proceso que llevar치 cada requerimiento</p>
    </div>
    <div class="col-sm-4">
      <h2>Tableros de Trabajo Kanban</h2>
      <p>Gestiona tus tareas y las de tu equipo con tableros personales y por proyecto.</p>
    </div>
  </div>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="footer text-center" style="padding:2em 0em;">
                <b>Derechos Reservados OJBA 2016</b>
            </div>
        </div>
</div>
