<div class="container">
  <div class="row">
    <div class="col-sm-12 jumbotron"
      style="background-image:url('/img/kanban.png');background-size:100%;min-height:640px;"
      >
      <h1>Kanban</h1>
    </div
  </div>
</div>
<div class="footer">
    <b>Derechos Reservados</b>
</div>
