<div class="container">
  <div class="row">
    <div class="col-sm-12 jumbotron"
      style="background-image:url('/img/kanban.png');background-size:100%;min-height:640px;"
      >
      <h1>Kanban</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2>Funcion 1</h2>
      <p>Esta es la funcion 1</p>
    </div>
    <div class="col-sm-4">
      <h2>Funcion 2</h2>
      <p>Esta es la funcion 2</p>
    </div>
    <div class="col-sm-4">
      <h2>Funcion 3</h2>
      <p>Esta es la funcion 3</p>
    </div>
  </div>
</div>
<div class="footer">
    <b>Derechos Reservados</b>
</div>
