<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Crea una nueva cuenta</h1>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <label for="inputEmail" class="sr-only">Correo Electrónico</label>
                <input type="email" id="inputEmail" class="form-control input-lg"
                        placeholder="Correo Electrónico"
                        required="" autofocus="">
                <br/>
                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input type="password" id="inputPassword"
                        class="form-control input-lg"
                        placeholder="Contraseña" required="">
                <br/>
                <label for="inputPasswordCnf" class="sr-only">Confirmar Contraseña</label>
                <input type="password" id="inputPasswordCnf"
                        class="form-control input-lg"
                        placeholder="Confirmar Contraseña" required="">
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Cuenta</button>
            </div>
        </div>
    </div>
</div>
